* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: inter;
  src: url(../media/InterVariable-s.p.494bb210.ttf) format("truetype");
  font-display: swap;
}

body {
  font-family:
    "inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #000;
}

:root {
  --color-background-main: lab(2.42579% -0.165291 -0.470081);
  --color-background-invert: lab(100% 0 0);
  --color-text-main: lab(100% 0 0);
  --color-text-invert: lab(2.42579% -0.165291 -0.470081);
  --color-text-soft: lab(100% 0 0 / 0.7);
  --color-text-sub: lab(100% 0 0 / 0.6);
  --color-border-sub: lab(100% 0 0 / 0.07);
  --color-background-soft: lab(100% 0 0 / 0.05);
  --color-border-surface: lab(100% 0 0 / 0.05);
  --color-muted: lab(100% 0 0 / 0.5);
  --color-border-soft: lab(100% 0 0 / 0.15);
  --color-brand: lab(79.9844% -59.6292 22.5096);
  --color-brand-light: lab(51.3415% -41.5657 15.3527);
  --color-border-solid: lab(100% 0 0);
  --color-muted-invert: lab(2.42579% -0.165291 -0.470081 / 0.5);
}

a {
  text-decoration: none;
}

.text-main {
  color: var(--color-text-main);
}

header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 50;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-inline: 24px;
  padding-block: 16px;
}

.header-one {
  position: relative;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.header-two {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 66rem;
  align-items: center;
  column-gap: 32px;
}

.header-three {
  display: flex;
  align-items: center;
  column-gap: 168px;
}

.nav-one {
  position: relative;
  display: flex;
  width: 100%;
  max-width: max-content;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.nav-ul-one {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.nav-li {
  position: relative;
}

.nav-link {
  display: inline-flex;
  height: 32px;
  width: max-content;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 3.40282e38px;
  padding-inline: 12px;
  padding-block: 4px;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 500;
  color: var(--color-text-main);
  outline-offset: 2px;
}

.nav-link:hover {
  background-color: var(--color-background-soft);
}

.nav-end {
  position: absolute;
  top: 100%;
  left: 0px;
  isolation: isolate;
  z-index: 50;
  display: flex;
  width: auto;
  justify-content: center;
  perspective: 2000px;
}

.header-cta {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.header-cta-inner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-sales {
  display: inline-flex;
  height: fit-content;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 3.40282e38px;
  border-width: 1px;
  border-color: transparent;
  background-color: var(--color-background-soft);
  padding-inline: 12px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--color-text-main);
  outline-offset: 2px;
}

.start-for-free {
  display: inline-flex;
  height: fit-content;
  flex-shrink: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 3.40282e38px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-text-main);
  background-color: var(--color-text-main);
  padding-inline: 12px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--color-background-main);
  outline-offset: 2px;
}

.start-for-free:hover {
  background-color: rgba(255, 255, 255, 0.85);
}
